// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L SMARC EVK board
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

/dts-v1/;

//#include <linux/media-bus-format.h>
#include "r9a07g044l2.dtsi"
#include "rzg2l-smarc-som.dtsi"
#include "rzg2l-smarc-pinfunction.dtsi"
#include "rz-smarc-common.dtsi"
#include "rzg2l-regulus.dtsi"

/ {
	model = "Renesas SMARC EVK based on r9a07g044l2";
	compatible = "renesas,smarc-evk", "renesas,r9a07g044l2", "renesas,r9a07g044";

	i2c4: i2c4 {
		status = "okay";
		compatible = "i2c-gpio";
		pinctrl-0 = <&i2c4_pins>;
		pinctrl-names = "default";

		sda-gpios = <&pinctrl RZG2L_GPIO(32, 0) GPIO_ACTIVE_HIGH>;
		scl-gpios = <&pinctrl RZG2L_GPIO(33, 0) GPIO_ACTIVE_HIGH>;
		i2c-gpio,delay-us = <2>;        /* ~100 kHz */
		#address-cells = <1>;
		#size-cells = <0>;
	};
	i2c4_pins: i2c4-pins {
		pinmux = <&pinctrl RZG2L_GPIO(32, 0) GPIO_ACTIVE_HIGH>, <&pinctrl RZG2L_GPIO(33, 0) GPIO_ACTIVE_HIGH>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&gpt2_pins 0 50000>;
		brightness-levels = <0 2 8 16 32 64 128 255>;
		default-brightness-level = <6>;
	};
	gpt2_pins: gpt2 {
		pinmux = <RZG2L_PORT_PINMUX(48, 2, 4)>;
	};
	rgb_panel: rgb-panel {
		status = "okay";
		//compatible = "dataimage,scf0700c48ggu18";
		//compatible = "ampire,am-1280800n3tzqw-t00h";
		//compatible = "auo,g121ean01";
		compatible = "evervision,vgg804821";
		power-supply = <&reg_3p3v>;
		backlight = <&backlight>;
		no-hpd;
		ports {
			port@0 {
				panel_in_rgb: endpoint {
					remote-endpoint = <&du_out_rgb>;
				};
			};
		};
	};
	du_pins: du {
		groups = "disp_bgr888", "disp_sync", "disp_de", "disp_clk";
		function = "disp";
		data {
			pinmux = <RZG2L_PORT_PINMUX(7, 2, 1)>,
				<RZG2L_PORT_PINMUX(8, 0, 1)>,
				<RZG2L_PORT_PINMUX(8, 1, 1)>,
				<RZG2L_PORT_PINMUX(8, 2, 1)>,
				<RZG2L_PORT_PINMUX(9, 0, 1)>,
				<RZG2L_PORT_PINMUX(9, 1, 1)>,
				<RZG2L_PORT_PINMUX(10, 0, 1)>,
				<RZG2L_PORT_PINMUX(10, 1, 1)>,
				<RZG2L_PORT_PINMUX(11, 0, 1)>,
				<RZG2L_PORT_PINMUX(11, 1, 1)>,
				<RZG2L_PORT_PINMUX(12, 0, 1)>,
				<RZG2L_PORT_PINMUX(12, 1, 1)>,
				<RZG2L_PORT_PINMUX(13, 0, 1)>,
				<RZG2L_PORT_PINMUX(13, 1, 1)>,
				<RZG2L_PORT_PINMUX(13, 2, 1)>,
				<RZG2L_PORT_PINMUX(14, 0, 1)>,
				<RZG2L_PORT_PINMUX(14, 1, 1)>,
				<RZG2L_PORT_PINMUX(15, 0, 1)>,
				<RZG2L_PORT_PINMUX(15, 1, 1)>,
				<RZG2L_PORT_PINMUX(16, 0, 1)>,
				<RZG2L_PORT_PINMUX(16, 1, 1)>,
				<RZG2L_PORT_PINMUX(17, 0, 1)>,
				<RZG2L_PORT_PINMUX(17, 1, 1)>,
				<RZG2L_PORT_PINMUX(17, 2, 1)>;
			drive-strength = <2>;
		};
		sync {
			pinmux = <RZG2L_PORT_PINMUX(6, 1, 1)>,	// HSYNC
				<RZG2L_PORT_PINMUX(7, 0, 1)>;	// VSYNC
			drive-strength = <2>;
		};
		de {
			pinmux = <RZG2L_PORT_PINMUX(7, 1, 1)>;	// DE
			drive-strength = <2>;
		};
		clk {
			pinmux = <RZG2L_PORT_PINMUX(6, 0, 1)>;	// CLK
		};
	};
	mpio4: mpio4 {
		gpio-hog;
		gpios = <&pinctrl RZG2L_GPIO(36, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "mpio4";
	};
};

&reg_3p3v {
	pinctrl-0 = <&mpio4>;
	pinctrl-names = "default";
};

&du {
	status = "okay";
	pinctrl-0 = <&du_pins>;
	pinctrl-names = "default";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			du_out_rgb: endpoint {
				remote-endpoint = <&panel_in_rgb>;
			};
		};
		port@1 {
			reg = <1>;
			du_out_dsi0: endpoint {
				remote-endpoint = <&dsi0_in>;
			};
		};
	};
};

&dsi0 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			dsi0_in: endpoint {
				remote-endpoint = <&du_out_dsi0>;
			};
		};
		port@1 {
			reg = <1>;
			dsi0_out: endpoint {
				//////////////////////////////
			};
		};
	};
};

&gpt2 {
	status = "okay";
};

&i2c4 {
	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5506";
		reg = <0x38>;
		pinmux = <&pinctrl RZG2L_GPIO(46, 3) GPIO_ACTIVE_HIGH>, <&pinctrl RZG2L_GPIO(47, 1) GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&pinctrl>;
		interrupts = <RZG2L_GPIO(47, 1) IRQ_TYPE_LEVEL_LOW>;
                wakeup-source;
		reset-gpios = <&pinctrl RZG2L_GPIO(46, 3) GPIO_ACTIVE_LOW>;
		wake-gpios = <&pinctrl RZG2L_GPIO(47, 1) GPIO_ACTIVE_HIGH>;
	};
};
